<div>
  <!--<nav class="navbar navbar-default"></nav>-->
  <header class="header"></header>
</div>
  <h1>{{title}}</h1>
  <input type="text" #newTodo />
  <button (click)="addTodo(newTodo.value); newTodo.value= ''">Add</button>
  <table>
    <br>
    <tr>
      <th>Label</th><br>
      <th>Priority</th><br>
      <th>Done</th>
      <th>Button</th>
    </tr>
    <tr *ngFor="let todo of todos">
      <td>{{todo.label}}</td><br>
      <td>{{todo.priority}}</td><br>
      <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
      <td>
        <button (click)="deleteTodo(todo)">Delete</button>
      </td>
    </tr>    
  </table>
 

<div class="footer"></div>
<!--<div> 
  <b>{{todo.label}}</b>
  <i> {{todo.priority}}</i>
  - {{todo.done}}
</div>-->
<!--<router-outlet></router-outlet>-->